*{
    color: #17252A;
    color: #2B7A78;
    color: #3AAFA9;
    color: #DEF2F1;
    color: #FEFFFF;
}

*{
    color: #EAE7DC;
    color: #D8C3A5;
    color: #8E8D8A;
    color: #E98074;
    color: #E85A4F;
}